#header-user-options {
  display: flex;
  justify-content: space-between;
}
#header-user-options h5 {
  margin-bottom: 5px;
  align-self: flex-end;
}

#header-user-options button {
  background-color: white;
  align-self: flex-end;
  margin-top: 0px;
  border: 1px solid white;
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

#header-back-arrow {
  margin-top: 12px;
  margin-bottom: 0px;
  font-weight: bold;
  cursor: pointer;
}
.header-nav-links {
  margin-top: 20px;
  display: flex;
}

.header-nav-links p {
  margin-right: 30px;
}
