.lp-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.lp-main-container h1 {
  margin-top: 0px;
  margin-left: 85px;
  margin-bottom: 0px;
  font-size: 80px;
}

.lp-main-container h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 25px;
}

.lp-buttons {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  width: 200px;
}

.lp-buttons button {
  background-color: #e9dcc9;
  border: 1px solid #e8d3b4;
  border-radius: 25px;
  height: 40px;
  width: 95px;
}

.lp-buttons button:hover {
  background-color: #e8cca2;
  transition: 1s;
}
#lp-logout-button {
  background-color: white;
  margin-top: 4px;
  margin-left: 10px;
  border: 1px solid white;
  color: blue;
  cursor: pointer;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .lp-main-container h1 {
    font-size: 55px;
  }
  .lp-main-container h4 {
    font-size: 15px;
  }
}
@media only screen and (max-width: 450px) {
  .lp-main-container h1 {
    font-size: 45px;
  }
  .lp-main-container h4 {
    font-size: 15px;
  }
}

@media only screen and (max-width: 325px) {
  .lp-main-container h1 {
    display: inline-block;
    margin-right: 63px;
    font-size: 20px;
  }
  .lp-main-container h4 {
    font-size: 10px;
  }

  .lp-buttons {
    justify-content: space-around;
    width: 100px;
    margin-top: 10px;
  }
  .lp-buttons button {
    display: inline-block;
    height: 20px;
    width: 45px;
    font-size: 6px;
  }
}
.lds-grid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.lds-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 75px;
  height: 75px;
}
.lds-grid div {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #e8d3b4;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}
@keyframes lds-grid {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
.lds-grid-container p {
  color: #908f8f;
}
